<!DOCTYPE html>
<html lang="en">
    <%= include('../public/layouts/head') %>
    <body>
        <h1>MY GAMES</h1>
        <ul>
            <% games.forEach(game => { %>
                <li>
                    <h2>game.title</h2>
                    <img src = "<% game.img_url %>">
                    <fieldset>
                        <input type="hidden" name="title" value="<%= game.title %>" required>
                        <input type="hidden" name="image_url" value="<%= game.image_url %>" required>
                        <input type="hidden" name="rating" value="<%= game.rating %>" required>
                        <input type="hidden" name="ratingCount" value="<%= game.ratingCount %>" required>
                        <input type="hidden" name="platforms" value="<%= game.platforms %>" required>
                        <input type="hidden" name="parent_platforms" value="<%= game.parent_platforms %>" required>
                        <input type="hidden" name="genre" value="<%= game.genre %>" required>
                        <input type="hidden" name="trailer" value="<%= game.trailer %>" required>
                        <input type="hidden" name="filters" value="<%= game.filters %>" required>
                        <input type="hidden" name="description" value="<%= game.description %>" required>
                        <input type="hidden" name="gameID" value="<%= game.gameID %>" required>
                        <input type="hidden" name="slug" value="<%= game.slug %>" required>
                        <button type="submit"> MORE DETAILS </button>
                    </fieldset>
            <% }) %>
        </ul> 
    </body>
    <%= include('../public/layouts/footer') %>
</html>