<!DOCTYPE html>
<html lang="en">
    <%- include('../../../public/layouts/head') %>
    <%- include('../../../public/layouts/header') %>
    <body>
            <h1>Title: <%=properties[0] %> </h1>
            <img src="<%=properties[1] %>">
            <p>Rating: <%= properties[2] %></p>
            <p>Rating Count: <%= properties[3] %></p>
            <p>Platforms: <%= properties[4] %></p>
            <p>Parent_platforms: <%= properties[5] %></p>
            <p>Genre: <%= properties[6] %></p>
            <p>Trailer: <%= properties[7] %></p>
            <p>Filters: <%= properties[8] %></p>
            <p>Description: <%= properties[9] %></p>
            
            <form action="/schema" method="POST">
                <fieldset>
                    <input type="hidden" name="title" value="<%= properties[0] %>" required>
                    <input type="hidden" name="image_url" value="<%= properties[1] %>" required>
                    <input type="hidden" name="rating" value="<%= properties[2] %>" required>
                    <input type="hidden" name="ratingCount" value="<%= properties[3] %>" required>
                    <input type="hidden" name="platforms" value="<%= properties[4] %>" required>
                    <input type="hidden" name="parent_platforms" value="<%= properties[5] %>" required>
                    <input type="hidden" name="genre" value="<%= properties[6] %>" required>
                    <input type="hidden" name="trailer" value="<%= properties[7] %>" required>
                    <input type="hidden" name="filters" value="<%= properties[8] %>" required>
                    <input type="hidden" name="description" value="<%= properties[9] %>" required>
                    <button type="submit"> SAVE THIS GAME </button>
                </fieldset>
            </form>
    </body>
    <%- include('../../../public/layouts/footer') %>
</html>