<!DOCTYPE html>
<html lang="en">
<%- include('../../public/layouts/head') %>
<%- include('../../public/layouts/header.ejs') %>

<body>
    <%- include('../../public/layouts/aside.ejs') %>
    <article>
        <% gamesList.forEach((game) => { %>
        <%- include('../pages/games/homepage_game_partial.ejs', {game: game}) %>
        <% }) %>
    </article>

    <form action='/homePagination' method='post'>
        <input type='hidden' name='page' value='<%= pages.previous %>' />
        <button class="bottom" type='submit'><%= pages.previous %></button>
    </form>
    <% if(pages.previous != null) { %>
    <%  } %>
    <p><%= pages.current %></p>
    <form action='/homePagination' method='post'>
        <input type='hidden' name='page' value='<%= pages.next %>' />
        <button class="bottom" type='submit'><%= pages.next %></button>
    </form>
    <% if(pages.next != null) { %>
    <%  } %>
    <%- include('../../public/layouts/footer') %>
</body>

</html>