<!DOCTYPE html>
<html lang="en">
    <%- include('../../public/layouts/head') %>
    <%- include('../../public/layouts/header.ejs') %>
    <body>
        <%- include('../../public/layouts/aside.ejs') %>

        <% gamesList.forEach((game) => { %>
            <%- include('../pages/games/homepage_game_partial.ejs', {game: game}) %>
        <% }) %>
        <% if(pages.previous != null) { %>
            <form action='/' method='post'>
            <input type='hidden' name='page' value='<%= pages.previous %>'/>
            <button type='submit'><%= pages.previous %></button>
            </form>
        <%  } %>
        <p><%= pages.current %></p>
        <% if(pages.next != null) { %>
            <form action='/' method='post'>
            <input type='hidden' name='page' value='<%= pages.next %>'/>
            <button type='submit'><%= pages.next %></button>
            </form>
        <%  } %>
        <%- include('../../public/layouts/footer') %>
    </body>
    <%- include('../../public/layouts/footer.ejs') %>
</html>