<!DOCTYPE html>
<html lang="en">
<%- include('../../public/layouts/head') %>
<%- include('../../public/layouts/header.ejs') %>

<body>
    <%- include('../../public/layouts/aside.ejs') %>
    <article>
        <% gamesList.forEach((game) => { %>
        <%- include('../pages/games/homepage_game_partial.ejs', {game: game}) %>
        <% }) %>
    </article>

    <div id="bottom">
        <% if(pages.previous != null) { %>
        <form class="page" action='/homePagination' method='post'>
            <input type='hidden' name='page' value='<%= pages.previous %>' />
            <button class="bottom" type='submit'><%= pages.previous %></button>
        </form>
        <%  } %>

        <p class="page"><%= pages.current %></p>

        <% if(pages.next != null) { %>
        <form class="page" action='/homePagination' method='post'>
            <input type='hidden' name='page' value='<%= pages.next %>' />
            <button class="bottom" type='submit'><%= pages.next %></button>
        </form>
        <%  } %>
    </div>

    <%- include('../../public/layouts/footer') %>
</body>

</html>