<% arr.forEach((game) => { %>
    <article>
        <form action="/pokemon" method="post">
            <h2><%= game.name %> </h2>
            <input type="hidden" name="_________" value="<%= game.something%>">
            <input type="hidden" name="_________" value="<%= game.something%>">
            <input type="hidden" name="_________" value="<%= game.something%>">
            <input type="hidden" name="_________" value="<%= game.something%>">
            <button type="submit">Add Game to Favorites</button>
        </form>
    </article>
    <% }); %>